@{
    ViewBag.Title = "Editar";
    Layout ="~/Views/Template/_CriadoresLayout.cshtml";
}
                <div class="col mx-3">
                    <div class="row">
                        <div class="col-7 mx-3 bg-dark text-white-50">
                            <h3 class="text-center fw-bold py-5 text-white">Criadores</h3>
                            <form action="#">
                                <div class="mb-4">
                                    <label for="nombre" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" id="nombre" maxlength="50">
                                </div>
                                <div class="mb-4">
                                    <label for="email" class="form-label">Email de Contacto</label>
                                    <input type="email" class="form-control" name="email" id="email" maxlength="100">
                                </div>
                                <div class="mb-4">
                                    <label for="direccion" class="form-label">Direccion</label>
                                    <input type="text" class="form-control" name="direccion" id="direccion" maxlength="100">
                                </div>
                            </form>
                            <h3 class="text-center fw-bold py-5 text-white">informacion Adicional</h3>
                            <form action="#">
                                <div class="mb-4">
                                    <label for="facebook" class="form-label">Facebook</label>
                                    <input type="url" class="form-control" name="facebook" id="facebook">
                                </div>
                                <div class="mb-4">
                                    <label for="twitter" class="form-label">Twitter</label>
                                    <input type="url" class="form-control" name="twitter" id="twitter">
                                </div>
                                <div class="mb-4">
                                    <label for="youtube" class="form-label">Youtube</label>
                                    <input type="url" class="form-control" name="youtube" id="youtube">
                                </div>
                            </form>
                        </div>
                        <div class="col mx-3 bg-dark text-white-50">
                            <form action="#">
                                <h3 class="text-center fw-bold py-5 text-white">Imagenes</h3>
                                <div class="pb-5">
                                    <label for="logotipo" class="form-label">Logotipo</label>
                                    <input class="form-control-file" type="file" name="logotipo" id="logotipo" value="image/png, image/jpeg">
                                </div>
                                <div class="py-5">
                                    <label for="fotografia" class="form-label">Fotografia</label>
                                    <input class="form-control-file" type="file" name="fotografia" id="fotografia" value="image/png, image/jpeg">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>