@model kaninos.Models.CriadorDTO
@{
    ViewBag.Title = "Nuevo";
    Layout ="~/Views/Template/_CriadoresLayout.cshtml";
    ViewBag.Message = "";
    var photoPath = $"~/image/{(@Model.fotografia ?? "not-found.png")}";
}
                <div class="col mx-3">
                    <form asp-action="Edit" method="post" enctype="multipart/form-data">
                        <div class="container">
                            <b class="text-info">@ViewBag.Message</b>
                        </div>
                        <div class="row">
                            <div class="col mx-3 bg-dark text-white-50">
                                <h3 class="text-center fw-bold py-5 text-white">Criadores</h3>
                                <div class="mb-4">
                                    <label for="nombre" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" asp-for="nombre" maxlength="50">
                                </div>
                                <div class="mb-4">
                                    <label for="email" class="form-label">Email de Contacto</label>
                                    <input type="email" class="form-control" asp-for="email" maxlength="100">
                                </div>
                                <div class="mb-4">
                                    <label for="direccion" class="form-label">Dirección</label>
                                    <input type="text" class="form-control" asp-for="direccion" maxlength="100">
                                </div>
                                <h3 class="text-center fw-bold py-5 text-white">Información adicional</h3>
                                <div class="mb-4">
                                    <label for="facebook" class="form-label">Facebook</label>
                                    <input type="url" class="form-control" asp-for="facebook">
                                </div>
                                <div class="mb-4">
                                    <label for="twitter" class="form-label">Twitter</label>
                                    <input type="url" class="form-control" asp-for="twitter">
                                </div>
                                <div class="mb-4">
                                    <label for="youtube" class="form-label">Youtube</label>
                                    <input type="url" class="form-control" asp-for="youtube">
                                </div>
                            </div>
                            <div class="col mx-3 bg-dark text-white-50">
                                <h3 class="text-center fw-bold py-5 text-white">Imagenes</h3>
                                <div class="form-group pb-5">
                                    <label asp-for="logo" class="form-label">Logotipo</label>
                                    <input class="form-control-file" type="file" asp-for="logo">
                                    <span asp-validation-for="logo" class="text-danger"></span>
                                </div>
                                <div class="form-group py-5">
                                    <img src="@photoPath" alt="@Model.nombre" class="img-fluid img-admin" asp-append-version="true" id="fotografia" name="fotografia"></img>
                                </div>
                                <div class="form-group">
                                    <label asp-for="foto" class="form-label">Fotografía</label>
                                    <input class="form-control-file" type="file" asp-for="foto">
                                    <span asp-validation-for="foto" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="my-4 text-right">
                            <input class="btn btn-light ml-2 mr-2" type="reset" value="Restablecer">
                            <input class="btn btn-success ml-2 mr-2" type="submit" value="Registar">
                            <a class="btn btn-primary ml-2" asp-controller="Criadores" asp-action="Index">Volver</a>
                        </div>
                    </form>
                </div>