@model IEnumerable<EjemplarDTO>
@{
    ViewBag.Title = "Arbol Genealogico";
    Layout ="~/Views/Template/_adminLayout.cshtml";
}
        <div class="col mx-3">
            <div class="bg-dark">
                <h1 class="text-center fw-bold p-5 bg-dark  text-white">@ViewData["Title"]</h1> 
                <div class="mx-3">
                    <table class="table table-light table-striped text-center py-2">
                        <tr class="active">
                            <th>Nombre</th>
                            <th>Padre</th>
                            <th>Madre</th>
                        </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>@item.ejemplar</th>
                            <th>@item.id_padre</th>
                            <td>@item.id_madre</td>
                        </tr>
                    }
                    </table>
                </div>
            </div>
        </div>