@{
    ViewBag.Title = "Nuevo";
    Layout ="~/Views/Template/_adminLayout.cshtml";
}
        <div class="col mx-3">
            <div class="row bg-dark">
                <h1 class="text-center fw-bold p-5 bg-dark text-white">@ViewData["Title"]</h1> 
                <div class="col mx-3">
                    <table class="table table-dark table-striped text-white text-center">
                        <tr class="active text-white">
                            <th>Foto</th>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>(Raza)</th>
                            <th>Padre</th>
                            <th>(Raza)</th>
                            <th>Madre</th>
                            <th>(Raza)</th>
                        </tr>
                 
                        <tr>
                            <th><img class="img-arbol rounded mx-auto d-block" src="~/image/ArbGen/2.jpg" alt="image/png"></th>
                            <th>1</th>
                            <td>Spike</td>
                            <td>Mestizo</td>
                            <td>Max</td>
                            <td>Mestizo</td>
                            <td>Mimí</td>
                            <td>Mestizo</td>
                        </tr>
                
                        <tr>
                            <th><img class="img-arbol rounded mx-auto d-block" src="~/image/ArbGen/1.jpg" alt="image/png"></th>
                            <th>2</th>
                            <td>Finnn</td>
                            <td>Maltes</td>
                            <td>Bobby</td>
                            <td>Maltes</td>
                            <td>Lisa</td>
                            <td>Maltes</td>
                        </tr>
                
                        <tr>
                            <th><img class="img-arbol rounded mx-auto d-block" src="~/image/ArbGen/3.jpg" alt="image/png"></th>
                            <th>3</th>
                            <td>Taizon</td>
                            <td>Mestizo</td>
                            <td>Pancho</td>
                            <td>Mestizo</td>
                            <td>Danny</td>
                            <td>Mestiza</td>
                        </tr>
                
                        <tr>
                            <th><img class="img-arbol rounded mx-auto d-block" src="~/image/ArbGen/4.jpg" alt="image/png"></th>
                            <th>4</th>
                            <td>Boby</td>
                            <td>Maltes</td>
                            <td>Jake</td>
                            <td>Maltes</td>
                            <td>Maggie</td>
                            <td>Maltes</td>
                        </tr>
                
                        <tr>
                            <th><img class="img-arbol rounded mx-auto d-block" src="~/image/ArbGen/5.jpg" alt="image/png"></th>
                            <th>5</th>
                            <td>Zeus</td>
                            <td>Rottweiler</td>
                            <td>Ares</td>
                            <td>Rottweiler</td>
                            <td>Atenea</td>
                            <td>Rottweiler</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>