@{
    ViewBag.Title = "Editar";
    Layout ="~/Views/Template/_EjemplaresLayout.cshtml";
}
                <div class="col mx-3">
                    <div class="row">
                        <div class="col-7 mx-3 bg-dark text-white-50">
                            <h3 class="text-center fw-bold py-5 bg-dark text-white">Ejemplares</h3>
                            <form action="#">
                                <div class="mb-4">
                                    <label for="nombre" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" id="nombre" maxlength="50">
                                </div>
                                <div class="mb-4">
                                    <label for="pedigree" class="form-label">Pedigree</label>
                                    <input type="text" class="form-control" name="pedigree" id="pedigree" maxlength="100">
                                </div>
                                <div class="mb-4">
                                    <label for="edad" class="form-label">Edad</label>
                                    <input type="number" class="form-control" name="edad" id="edad" min="0" max="20" value="0">
                                </div>
                                <div class="mb-4">
                                    <select class="form-control form-control-sm" aria-label="raza">
                                        <option selected>Raza</option>
                                        <option value="1">Husky</option>
                                        <option value="2">Golden Retriever</option>
                                        <option value="3">Collie</option>
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <input class="form-control me-2" type="search" placeholder="Criador" aria-label="Search">
                                </div>
                                <div class="mb-4">
                                    <select class="form-control form-control-sm" aria-label="raza">
                                        <option selected>Variedad</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <select class="form-control form-control-sm" aria-label="raza">
                                        <option selected>Color</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label for="descripcion" class="form-label">Descripcion</label>
                                    <textarea class="form-control" placeholder="Descripcion" id="descripcion" maxlength="500"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="col mx-3 bg-dark text-white-50">
                            <form action="#">
                                <h3 class="text-center fw-bold py-5 text-white">Imagenes</h3>
                                <div class="py-5">
                                    <label for="ejemplar" class="form-label">Foto Ejemplar</label>
                                    <input class="form-control-file" type="file" name="ejemplar" id="ejemplar" value="image/png, image/jpeg">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>