@model kaninos.Models.CruceDTO
@{
    ViewBag.Title = "Nuevo";
    Layout ="~/Views/Template/_CrucesLayout.cshtml";
}
                <div class="col mx-3">
                    <form action="" method="post">
                        <div class="row">
                            <div class="col mx-3 bg-dark text-white-50">
                                <h3 class="text-center fw-bold py-5 bg-dark text-white">Cruces</h3>
                                <div class="mb-2">
                                    <b class="text-info">@ViewBag.Message</b>
                                </div>
                                <div class="mb-4">
                                    <label for="nombre" class="form-label">Nombre Del cruce</label>
                                    <input type="text" class="form-control" asp-for="nombre" maxlength="50">
                                </div>
                                <div class="row mb-4">
                                    <div class="col-6">
                                        <input type="hidden" asp-for="id_padre" value="@ViewBag.Padre">
                                        <div class="input-group mb-4">
                                            <input class="form-control me-2" type="search" asp-for="padre" placeholder="Macho" aria-label="Search">
                                            <div class="input-group-append">
                                                <input class="btn btn-success" type="submit" asp-for="btn_padre" value="Buscar">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <input type="hidden" asp-for="id_madre" value="@ViewBag.Madre">
                                        <div class="input-group mb-4">
                                            <input class="form-control me-2" type="search" asp-for="madre" placeholder="Hembra" aria-label="Search">
                                            <div class="input-group-append">
                                                <input class="btn btn-success" type="submit" asp-for="btn_madre" value="Buscar">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label for="fecha_emp" class="form-label">Fecha de emparejamiento</label>
                                    <input type="date" class="form-control" asp-for="fecha_emp">
                                </div>
                                <div class="mb-4">
                                    <label for="fecha_nac" class="form-label">Fecha nacimiento</label>
                                    <input type="date" class="form-control" asp-for="fecha_nac">
                                </div>
                                <div class="row mb-4">
                                    <div class="col-3">
                                        <label for="ejemplares_nac" class="form-label">Ejemplares nacidos</label>
                                        <input type="number" class="form-control" asp-for="ejemplares_nac" min="1" max="20" value="1">
                                    </div>
                                    <div class="col-3">
                                        <label for="cantidad_machos" class="form-label">Cantidad de machos</label>
                                        <input type="number" class="form-control" asp-for="cantidad_machos" min="0" max="20" value="0">
                                    </div>
                                    <div class="col-3">
                                        <label for="cantidad_hembras" class="form-label">Cantidad de hembras</label>
                                        <input type="number" class="form-control" asp-for="cantidad_hembras" min="0" max="20" value="0">
                                    </div>
                                    <div class="col-3">
                                        <label for="num_bajas" class="form-label">Numero de bajas</label>
                                        <input type="number" class="form-control" asp-for="num_bajas" min="0" max="20" value="0">
                                    </div>
                                </div>
                                <input type="hidden" asp-for="id_criador" value="@ViewBag.Criador">
                                <div class="input-group mb-4">
                                    <input class="form-control me-2" type="search" asp-for="criador" placeholder="Criador" aria-label="Search">
                                    <div class="input-group-append">
                                        <input class="btn btn-success" type="submit" asp-for="btn_criador" value="Buscar">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-4 text-right">
                            <input class="btn btn-light ml-2 mr-2" type="reset" value="Restablecer">
                            <input class="btn btn-success ml-2 mr-2" type="submit" asp-for="btn_reg" value="Registar">
                            <a class="btn btn-danger ml-2" asp-controller="Cruces" asp-action="Index">Cancelar</a>
                        </div>
                    </form>
                </div>