@{
    ViewData["Title"] = "Home";
}

        <div class="container-fluid align-content-center my-3">
            <article class="bg-dark text-center text-white">
                <h1 class="m-2">Noticias</h1>
                <div class="row m-2">
                    <div class="col-3">
                        <img class="img-fluid rounded mx-auto d-block" src="~/image/Noticias.jpg" alt="Adminitrador">
                    </div>
                    <div class="col-1 m-5">
                    </div>
                    <div class="col text-left">
                       Enterate de las últimas tendencias del mejor amigo del hombre en nuestra sección de noticias.
                            En el cual te vamos a dar unas informaciones al momento de que vas a adoptar un animal, que es lo que debemos hacer cuando adoptammos,
                            también tenemos unos tips de que debemos hacer en los primeros dias de la adopción, el comportamineto que dan las mascotas.
                            Y por último te mencionamos que vacunas deben de tener los animales al ser adoptados. 
                            <br> <p class="fw-bold">ANIMATE Y ADOPTA A UN ANIMALITO</p>
                    </div>
                </div>
                <a class="btn btn-primary m-2" asp-controller="Home" asp-action="Noticias">Entrar</a>
            </article>
        </div>
        <div class="container-fluid align-content-center my-3">
            <article class="bg-dark text-center text-white">
                <h1 class="m-2">Administrador</h1>
                <div class="row m-2">
                    <div class="col-3">
                        <img class="img-fluid rounded mx-auto d-block" src="~/image/administrador.png" alt="Adminitrador">
                    </div>
                    <div class="col-1 m-5">
                    </div>
                    <div class="col text-left">
                         <p>¿Ya te registarste? <br>
                            Regístrate con nosotros en nuestra comunidad knina y obtendrás grandes beneficios,en este apartado podras administrar 
                            tus ejemplares animales que quieres, el tipo de cruces, cantidad de animal que buscas, si quieres un cachorro o un felino.
                            Todo esto y mucho mas aqui en el administrador. Somos mas de 1,000 usuarios que estan registrados y se han encontrados satisfecgos en esta pagina</p>
                    </div>
                </div>
                <a class="btn btn-primary m-2" asp-controller="Home" asp-action="Login">Entrar</a>
            </article>
        </div>
        
