@{
    ViewData["Title"] = "Home";
}

        <div class="container-fluid align-content-center my-3">
            <article class="bg-dark text-center text-white">
                <h1 class="m-2">Noticias</h1>
                <div class="row m-2">
                    <div class="col-3">
                        <img class="img-fluid rounded mx-auto d-block" src="~/image/Noticias.jpg" alt="Adminitrador">
                    </div>
                    <div class="col-1 m-5">
                    </div>
                    <div class="col text-left">
                        <p>Esta sección es unicamente de noticias relacionadas al mundo canino, por ejemplo:</p>
                        <p>Tips de cuidado, alimentación, crianza y actividades muy entretenidas para poder darle a tu mejor amigo, mucho más amor y cuidado del que ya le das. Además, podrás encontrar consejos muy utiles para darle un mejor cuidado a tu mascota.</p>
                    </div>
                </div>
                <a class="btn btn-primary m-2" asp-controller="Home" asp-action="Noticias">Entrar</a>
            </article>
        </div>
        <div class="container-fluid align-content-center my-3">
            <article class="bg-dark text-center text-white">
                <h1 class="m-2">Adminitrador</h1>
                <div class="row m-2">
                    <div class="col-3">
                        <img class="img-fluid rounded mx-auto d-block" src="~/image/administrador.png" alt="Adminitrador">
                    </div>
                    <div class="col-1 m-5">
                    </div>
                    <div class="col text-left">
                        <p>¿Ya te registarste?</p>
                        <p>Unete a Nuestra Comunidad Knina. </p>
                        <p>En este apartado podras administrar tus ejemplares, cruces y demás.</p>
                        <p>También podrás crear y administrar el árbol genealogico de tu peludo amigo</p>
                    </div>
                </div>
                <a class="btn btn-primary m-2" asp-controller="Home" asp-action="Administrador">Entrar</a>
            </article>
        </div>
        
