@model kaninos.Models.LoginDTO
@{
    ViewData["Title"] = "Iniciar sesi칩n";
}

      <section>
        <div class="row g-0">
            <div class="col-lg-7 d-none d-lg-block">
              
              <!-- carrusel de bustrap -->
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item img-1 min-vh-100 active">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                      </div>
                      <div class="carousel-item img-2 min-vh-100">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only"></span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only"></span>
                    </a>
                  </div>
            </div>
            <div class="col-lg-5 bg-dark d-flex flex-column align-items-end min-vh-100">
                <div class="align-self-center w-100 px-lg-5 py-lg-4 p-4">
                <h1 class="font-weight-bold mb-4 text-white">Bienvenido de nuevo</h1>
                <div class="my-4">
                  <b class="text-info">@ViewBag.Message</b>
                </div>
                <form class="mb-5" asp-controller="Home" asp-action="Login" method="post">
                    <div class="mb-4">
                      <label for="email" class="form-label font-weight-bold text-white">Correo electronico</label>
                      <input type="email" class="form-control bg-dark-x border-0" asp-for="email" placeholder="Ingresa tu correo electronico" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-4">
                      <label for="pass" class="form-label font-weight-bold text-white">Contrase침a</label>
                      <input type="password" class="form-control bg-dark-x border-0 mb-2" placeholder="Ingresa tu contrase침a" asp-for="pass">
                    </div>
                    <div class="my-4 text-right">
                      <input class="btn btn-success ml-2 mr-2" type="submit" value="Iniciar sesi칩n">
                    </div>
                  </form>
                <p class="font-weight-bold text-center text-muted">No tienes una cuenta?</p>
                <div class="d-flex justify-content-around">
                  <a class="btn btn-outline-light flex-grow-1 mr-2" asp-controller="Home" asp-action="Registro">Crea una cuenta</a>
                </div>
                </div>
            </div>
        </div>
      </section>
