@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Al ingresar a ésta página de internet, implica su aceptación a los términos del Aviso de Privacidad y adquiere el carácter de “Titular”.</p>
